@model TaxiStation_Core2_EFCore.Models.ViewModels.AcceptedOrderInfoForClient

@{
    ViewData["Title"] = "StartOrderClient";
}

<h1>StartOrderClient</h1>

<div>
    <h4>AcceptedOrderInfoForClient</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.order_id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.order_id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.id_client)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.id_client)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.date_start_order)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.date_start_order)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.rate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.rate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.start_point_lat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.start_point_lat)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.start_point_long)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.start_point_long)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.end_point_lat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.end_point_lat)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.end_point_long)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.end_point_long)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.pets)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.pets)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.child)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.child)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.driver_id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.driver_id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.driver_name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.driver_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.rating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.number)
        </dd>
    </dl>
</div>
<div>
    <input type="button" class="btn-block" asp-action="EndOrder" asp-controller="Order" asp-route-id_order="@Model.order_id" asp-route-id_client="@Model.id_client" value="Завершить поезку" />
</div>