@model TestExample.DB.Drivers

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Drivers</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.first_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.first_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.second_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.second_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.birth_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.birth_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.phone_number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.phone_number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pass_number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pass_number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.rating_sum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.rating_sum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.rating_count)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.rating_count)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pass_hash)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pass_hash)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
